import React from 'react';
import { render } from 'react-dom';

class Greeting extends React.Component {
  render() {
    return <h1>Hello, {this.props.name}</h1>;
  }
}

render(Greeting, document.findElementById('root'));
