import React from 'react';
import { render } from 'react-dom';

class Greeting extends React.Component {
  render() {
    return <Header name="Chris" />
  }
}

const Header = ({name}) => {
  return (
    <h1>Hello, {name}</h1>
  );
}

render(Greeting, document.findElementById('root'));
